.container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    padding-right: 4rem;
    padding-left: 4rem;
}

.backtitle {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 10rem;
    line-height: 10rem;
    font-weight: 900;
    color: #f3f3f3;
}

.backcircle {
    position: fixed;
    top: 0;
    right: 0;
    width: 25rem;
    height: 25rem;
    background-color: #f3f3f3;
    border-radius: 100%;
    color: #000;
}

.title {
    font-size: 3rem;
    z-index: 1;
    margin-right: 8rem;
    color: #5755cf;
    font-weight: 800;
}

@media screen and (min-width: 800px) {
    .title {
        display: block;
    }
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    .title {
        display: none;
    }
}

.contents {
    font-size: 3rem;
    z-index: 1;
}

.contents .desc {
    font-size: 1rem;
    /* font-weight: 900; */
}

.contents .item {
    font-size: 1rem;
    /* font-weight: 900; */
}

.contents .label {
    font-size: 1rem;
    font-weight: 900;
    color: #5755cf;
}
