.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.title {
    font-style: normal;
    font-weight: 900;
    font-size: 7rem;
    text-align: center;
    font-family: 'Montserrat';
    color: #5755cf;
}

.desc {
    font-style: normal;
    font-weight: 300;
    font-size: 3rem;
    line-height: 4rem;
    text-align: center;
    color: #000;
    font-family: 'Montserrat';
}
/* 
.backcircle {
    position: fixed;
    top: 100;
    left: 50;
    width: 5rem;
    height: 5rem;
    background-color: #f3f3f3;
    border-radius: 100%;
    color: #000;
    z-index: -1;
} */

.box {
    position: fixed;
    top: 50;
    left: 50;
    width: 20rem;
    height: 20rem;
    background: #f3f3f3;
    z-index: -1;
}
