.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title {
    font-style: normal;
    font-weight: 900;
    font-size: 150px;
    line-height: 182px;
    text-align: center;
    color: #5755cf;
}

.desc {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #000000;
}
