.container {
    position: fixed;
    min-width: 100vw;
    top: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: transparent; */
    min-width: 100vw;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
    z-index: 1;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
    color: #818181;
    font-size: 0.3rem;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #818181;
    font-size: 1.1rem;
    font-weight: 800;
    opacity: 0.7;
}

.menu {
    /* position: 'fixed'; */
    right: 0;
}

.link {
    padding: 1rem 1rem 1rem 4rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 800;
    /* color: #818181; */
    color: #c5c5c5;
    display: block;
    transition: 0.3s;
}

.link:hover {
    /* color: #f1f1f1; */
    color: #5755cf;
}
